@import "../../styles/Material/definitions";

:host {
  display: block;
}

core-toolbar {
  @include font-headline;
  background-color: $primary-color;
}

core-header-panel {
  color: #ffffff;
  background-color: $background-color;
}

paper-icon-button[selected] {
  color: $accent-color;
}

[drawer] {
  background-color: $blue-grey-700;
}

.noPlaylists {
  padding: 1rem;
  text-align: center;
}
