@import "Material/rules";

html /deep/ {
  paper-item {
    @include font-body-2;
  }

  paper-ripple {
    color: $primary-color-light;
  }

  .dropdown-button {
    @include font-button;
    color: rgba(0,0,0,0.87);
  }
}

google-youtube[fluid] {
  height: 100%;
}
