@import "Material/rules";

html /deep/ {
  paper-item {
    @include font-body-2;
  }

  paper-ripple {
    color: $primary-color-light;
  }

  .dropdown-button {
    @include font-button;
    color: rgba(0,0,0,0.87);
  }

  paper-dropdown {
    paper-item {
      color: $light-background-text-color;
    }
  }
}

google-youtube[fluid] {
  // Fixes strange bug in Firefox Developer Edition and IE
  padding: 0 !important;
  height: 100%;
}
