@import "../../styles/Material/definitions";

:host {
  display: block;
}

#right-click {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

paper-icon-button {
  padding: 0 8px;
}

#menu::content paper-item {
  @include font-body-2;
  color: red;
}
