@import "../../styles/Material/definitions";

:host {
  display: block;
}

paper-spinner {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

span {
  @include font-caption;
  margin-bottom: 0.5rem;
}

.error {
  padding: 0 8px;
  color: $red-500;
  text-align: center;
  cursor: pointer;
}
