@import "../../styles/Material/definitions";

:host {
  display: block;
}

div[layout][vertical][center] {
  width: 100%;

  paper-spinner {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  span {
    @include font-caption;
    margin: 0.5rem 0;
    width: auto;
  }

  .error {
    padding: 0 8px;
    color: $red-500;
    text-align: center;
    cursor: pointer;
  }
}
