@import "../../styles/Material/definitions";

$transition-duration: 0.3s;

:host {
  display: block;
}

.video {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  height: 30vw / (16/9);
  width: 30vw;

  transition: right $transition-duration,
              bottom $transition-duration,
              width $transition-duration,
              height $transition-duration;

  &[fullscreen] {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    #player:not([show]) {
      cursor: none;
    }

    #controls {
      bottom: -64px;
      padding: 8px 16px;
      height: 64px;

      paper-icon-button::shadow core-icon {
        width: 32px;
        height: 32px;
      }
    }
  }

  .video-wrapper {
    height: 100%;
    background-color: black;
  }
}

#player {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  &[show] #controls {
    bottom: 0;
  }
}

#controls {
  position: absolute;
  bottom: 0;

  box-sizing: border-box;
  width: 100%;
  height: 40px;

  color: white;
  background-color: transparentize($accent-color, 0.1);

  transition: bottom $transition-duration,
  padding $transition-duration,
  height $transition-duration;

  .info {
    margin-left: 16px;
    max-width: 30%;
    overflow: hidden;

    white-space: nowrap;

    h5, h6 {
      margin: 0;
    }
  }

  paper-icon-button {
    min-width: 24px;
  }

  [selected] {
    color: $primary-color;
  }

  .fullscreen {
    transform: rotate(45deg);
  }
}

#time {
  padding: 0 2rem;
}

paper-slider::shadow {
  #sliderBar::shadow #activeProgress, #sliderKnobInner {
    background-color: $primary-color;
  }
}

@media (max-width: 900px) {
  .video:not([fullscreen]) {
    [icon="av:repeat"],[icon="av:shuffle"] {
      display: none;
    }
  }

  #time {
    display: none;
  }
}

@media (max-width: 600px) {
  .video:not([fullscreen]) {
    #player {
      display: block !important;
    }
    #controls {
      display: none;
    }
  }
}
